# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and logs
*.log
logs/
*.cache/

# Virtual environment
venv/
env/
.env

# Database
db.sqlite3
*.sqlite3
*.db

# Static files
staticfiles/
*.bak
*.swp

# Media
media/

# Local development settings
local_settings.py

# IDE files
.idea/
.vscode/

# Miscellaneous
.DS