{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>Document</title>
</head>
<body>
  <div class="page">

    <div class="top" style="display: flex; justify-content: space-between; font-size: 10px;">
      <div class="right" style="text-align: center;">
        <p>وزارة الدفاع</p>
        <p>إدارة شئون ضباط القوات المسلحة</p>
        <p>فرع الملفات</p>
      </div>
      <div class="center" style="text-align: center;">
        <p>سري</p>
        <p style="font-size: 15px; font-weight: 800;">بيانات عن ضابط</p>
      </div>
      <div class="left" style="text-align: center;">
        <p>النموذج رقم 121 ش ض</p>
        <table>
          <tr>
            <th>الاقدمية</th>
            <td></td>
          </tr>
          <tr>
            <th>ت. الشخصية</th>
            <td></td>
          </tr>
          <tr>
            <th>الدفعة</th>
            <td></td>
          </tr>
          <tr>
            <th>الرقم القومي</th>
            <td>{{ recruit.national_number }}</td>
          </tr>
          <tr>
            <th>تاريخ التخرج</th>
            <td></td>
          </tr>
        </table>
      </div>
    </div>


    <title>
      وثيقه تعارف طالب احتياط
    </title>
    <table>
        <caption>
          <div class="title">
            البيانات الشخصيه
          </div>
        </caption>
        <tr>
          <th>الرتبة</th>
          <td>{{ recruit.rank }}</td>

          <th>الاسم</th>
          <td>{{ recruit.name }}</td>
          
          <th>السلاح</th>
          <td>{{ recruit.arm }}</td>
      </tr>
      <tr>
        <th>تاريخ الميلاد</th>
        <td>{{ recruit.date_of_birth|date:"Y-m-d" }}</td>
        
        <th>محل الميلاد</th>
        <td>{{ recruit.birth_location }}</td>

        <th>فصيلة الدم</th>
        <td>{{ recruit.blood_type }}</td>

        <th>الديانة</th>
        <td>{{ recruit.religion }}</td>
      </tr>
      <tr>
        <th>الوحدة الحالية</th>
        <td>{{ recruit.unit }}</td>

        <th>الوظيفة الحالية</th>
        <td>{{ recruit.current_job }}</td>

        <th>الكلية / المعهد</th>
        <td>{{ recruit.college }}</td>
      </tr>
      <tr>
        <th>محل الاقامة تفصيليا</th>
        <td>{{ recruit.residence }}</td>

        <th>ت. المنزل</th>
        <td>{{ recruit.home_phone }}</td>
      </tr>
      <tr>
        <th>البريد الالكتروني</th>
        <td>{{ recruit.email_address }}</td>

        <th>التليفون المحمول</th>
        <td>{{ recruit.mobile_number }}</td>
      </tr>
      <tr>
        <th>الحاله الاجتماعيه</th>
        <td>{{ recruit.marital_status }}</td>
        
        <th>عدد الزوجات الحاليين</th>
        <td>{{ recruit.number_of_current_spouses }}</td>

        <th>عدد الابناء</th>
        <td>{{ recruit.number_of_children }}</td>

        <th>ذكور</th>
        <td>{{ recruit.men }}</td>

        <th>اناث</th>
        <td>{{ recruit.women }}</td>
      </tr>
      <tr>
        <th>تاريخ الزواج</th>
        <td>{{ recruit.date_of_spouse }}</td>
        
        <th>عدد الزيجات السابقة</th>
        <td>{{ recruit.number_of_past_spouses }}</td>

        <th>تاريخ الانفصال</th>
        <td>{{ recruit. }}</td>
      </tr>
    </table>

    <table class="cc">
      <caption>
        <div class="title">
          بيانات اسرة الضابط والافراد الذين يعولهم
        </div>
      </caption>
      <tr>
        <th>الاسم</th>
        <th>القرابة</th>
        <th>الجنسية</th>
        <th>تاريخ الميلاد</th>
        <th>الرقم القومي</th>
        <th>ملاحظات</th>
      </tr>
      
      {% for parent in recruit.supports.all %}
      <tr>
          <td>{{ parent.name }}</td>
          <td>{{ parent.relate }}</td>
          <td>{{ parent.nationality }}</td>
          <td>{{ parent.date_of_birth|date:"Y-m-d" }}</td>
          <td>{{ parent.national_number }}</td>
          <td>{{ parent.notes }}</td>
      </tr>
      {% endfor %}
    </table>

    <table class="cc">
      <caption>
        <div class="title">
          بيانات عائلة الضابط
        </div>
      </caption>
      <tr>
        <th>الاسم</th>
        <th>الجنسيه</th>
        <th>المؤهل</th>
        <th>الوظيفه</th>
        <th>ضابط ق.م</th>
        <th>محل الاقامه</th>
      </tr>
      {% for parent in recruit.parents.all %}
      <tr>
          <td>{{ parent.name }}</td>
          <td>{{ parent.nationality }}</td>
          <td>{{ parent.qualification }}</td>
          <td>{{ parent.job }}</td>
          <td>{{ parent.military_officer }}</td>
          <td>{{ parent.residence }}</td>
      </tr>
      {% endfor %}
    </table>
    
    <table class="cc">
      <caption>
        <div class="title">
          بيانات الاخوه والاخوات
        </div>
      </caption>
      <tr>
        <th>الاسم</th>
        <th>القرابة</th>
        <th>المؤهل</th>
        <th>الوظيفة</th>
        <th>ضابط ق.م</th>
        <th>اسم الزوج او الزوجه</th>
        <th>المؤهل</th>
        <th>الوظيفه</th>
        <th>محل الاقامه</th>
      </tr>
      
      {% for brother in recruit.brothers.all %}
      <tr>
        <td>{{ brother.name }}</td>
        <td>{{ brother.relate }}</td>
        <td>{{ brother.qualification }}</td>
        <td>{{ brother.job }}</td>
        <td>{{ brother.military_officer }}</td>
        <td>{{ brother.spouse_name }}</td>
        <td>{{ brother.spouse_qualification }}</td>
        <td>{{ brother.spouse_job }}</td>
        <td>{{ brother.residence }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="page">
    <table class="cc">
        <caption>
          <div class="title">
            بيانات الاعمام والعمات
          </div>
        </caption>
        <tr>
            <th rowspan="2">الاسم</th>
            <th rowspan="1" colspan="3">تاريخ الميلاد</th>
            <th rowspan="2">السن</th>
            <th rowspan="2">الوظيفه</th>
            <th rowspan="2">اسم الزوج او الزوجة رباعي</th>
            <th rowspan="2">الوظيفه</th>
            <th rowspan="2">محل الاقامه</th>
        </tr>
        <tr>
            <th>اليوم</th>
            <th>الشهر</th>
            <th>السنه</th>
        </tr>
        {% for uncle in recruit.relatives.all.father_relates %}
        <tr>
            <td>{{ uncle.name }}</td>
            <td>{{ uncle.date_of_birth.day }}</td>
            <td>{{ uncle.date_of_birth.month }}</td>
            <td>{{ uncle.date_of_birth.year }}</td>
            <td>{{ uncle.age }}</td>
            <td>{{ uncle.job }}</td>
            <td>{{ uncle.wife_name }}</td>
            <td>{{ uncle.wife_job }}</td>
            <td>{{ uncle.residence }}</td>
        </tr>
        {% endfor %}
    </table>

    <table class="cc"> 
      <caption>
        <div class="title">
          بيانات الاخوال والخالات
        </div>
      </caption>
      <tr>
          <th rowspan="2">الاسم</th>
          <th rowspan="1" colspan="3">تاريخ الميلاد</th>
          <th rowspan="2">السن</th>
          <th rowspan="2">الوظيفه</th>
          <th rowspan="2">اسم الزوج او الزوجة رباعي</th>
          <th rowspan="2">الوظيفه</th>
          <th rowspan="2">محل الاقامه</th>
      </tr>
      <tr>
          <th>اليوم</th>
          <th>الشهر</th>
          <th>السنه</th>
      </tr>
      {% for uncle in recruit.relatives.all.mother_relates %}
      <tr>
          <td>{{ uncle.name }}</td>
          <td>{{ uncle.date_of_birth.day }}</td>
          <td>{{ uncle.date_of_birth.month }}</td>
          <td>{{ uncle.date_of_birth.year }}</td>
          <td>{{ uncle.age }}</td>
          <td>{{ uncle.job }}</td>
          <td>{{ uncle.wife_name }}</td>
          <td>{{ uncle.wife_job }}</td>
          <td>{{ uncle.residence }}</td>
      </tr>
      {% endfor %}
  </table>
  <div style="padding: 5px;">
    اقر انا..............................................................بأن البيانات المدونه بالوثيقه صحيحه وتحت مسؤوليتي. 
    <br>
    وإنني قد تنبه علي باتباع التعليمات السابقه
  </div>
  </div>
</body>
</html>