{% load static %}
<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>Document</title>
</head>
<body>
  <div class="page">

    <div class="top" style="display: flex; justify-content: space-between; font-size: 15px;">
      <div class="right" style="text-align: center;">
        <p>وزارة الدفاع</p>
        <p>إدارة شئون ضباط القوات المسلحة</p>
        <p style="border-bottom: 1px solid black; display: inline;">فرع الملفات</p>
      </div>
      <div class="center" style="text-align: center; align-items: center; ">
        <p style="font-size: 15px; margin-bottom: 50px; border-bottom: 2px solid black; display: inline;">سري</p>
        <p style="font-size: 25px; font-weight: 800; border-bottom: 3px solid black; display: block;">بيانات عن ضابط</p>
      </div>
      <div class="left" style="text-align: center; font-stretch:extra-expanded;">
        <p style="margin-bottom: 10px; font-size: 15px; border-bottom: 1px solid black; display: inline;">النموذج رقم 121 ش ض</p>
        <table>
          <tr>
            <th>الاقدمية</th>
            <td></td>
          </tr>
          <tr>
            <th>ت. الشخصية</th>
            <td></td>
          </tr>
          <tr>
            <th>الدفعة</th>
            <td></td>
          </tr>
          <tr>
            <th>الرقم القومي</th>
            <td>{{ recruit.national_number }}</td>
          </tr>
          <tr>
            <th>تاريخ التخرج</th>
            <td></td>
          </tr>
        </table>
      </div>
    </div>


    <title>
      وثيقه تعارف طالب احتياط
    </title>
    <table>
        <caption>
          <div class="title">
            البيانات الشخصية:
          </div>
        </caption>
        <tr>
          <th>الرتبة</th>
          <td>{{ recruit.rank }}</td>

          <th>الاسم</th>
          <td colspan="4">{{ recruit.name }}</td>
          
          <th colspan="2">السلاح</th>
          <td colspan="2">{{ recruit.arm }}</td>
      </tr>
      <tr>
        <th>تاريخ الميلاد</th>
        <td colspan="1">{{ recruit.date_of_birth|date:"Y-m-d" }}</td>
        
        <th>محل الميلاد</th>
        <td>{{ recruit.birth_location }}</td>

        <th>فصيلة الدم</th>
        <td>{{ recruit.blood_type }}</td>

        <th colspan="3">الديانة</th>
        <td colspan="2">{{ recruit.religion }}</td>
      </tr>
      <tr>
        <th>الوحدة الحالية</th>
        <td colspan="2">{{ recruit.unit }}</td>

        <th>الوظيفة الحالية</th>
        <td colspan="3">{{ recruit.current_job }}</td>

        <th colspan="2">الكلية / المعهد</th>
        <td colspan="2">{{ recruit.college }}</td>
      </tr>
      <tr>
        <th>محل الاقامة تفصيليا</th>
        <td colspan="4">{{ recruit.residence }}</td>

        <th colspan="2">ت. المنزل</th>
        <td colspan="2">{{ recruit.home_phone }}</td>
      </tr>
      <tr>
        <th>البريد الالكتروني</th>
        <td colspan="3">{{ recruit.email_address }}</td>

        <th>التليفون المحمول</th>
        <td colspan="2">{{ recruit.mobile_number }}</td>
      </tr>
      <tr>
        <th>الحاله الاجتماعيه</th>
        <td>{{ recruit.marital_status }}</td>
        
        <th>عدد الزوجات الحاليين</th>
        <td>{{ recruit.number_of_current_spouses }}</td>

        <th>عدد الابناء</th>
        <td colspan="2">{{ recruit.number_of_children }}</td>

        <th>ذكور</th>
        <td>{{ recruit.men }}</td>

        <th>اناث</th>
        <td>{{ recruit.women }}</td>
      </tr>
      <tr>
        <th>تاريخ الزواج</th>
        <td>{{ recruit.date_of_spouse }}</td>
        
        <th>عدد الزيجات السابقة</th>
        <td>{{ recruit.number_of_past_spouses }}</td>

        <th>تاريخ الانفصال</th>
        <td colspan="2">{{ recruit.date_of_break_up }}</td>
      </tr>
    </table>

    <table class="cc">
      <caption>
        <div class="title">
          بيانات اسرة الضابط والافراد الذين يعولهم: 
        </div>
        <span style="font-size: calc(var(--font-size) + 3px);">(فقط في حالة وجود أبناء من زوجة أخرى يذكر اسم الزوجة في الملاحظات)</span>
      </caption>
      <tr>
        <th>الاسم</th>
        <th>القرابة</th>
        <th>الجنسية</th>
        <th>تاريخ الميلاد</th>
        <th>الرقم القومي</th>
        <th>ملاحظات</th>
      </tr>
      
      {% if recruit.supports.all %}
    {% for parent in recruit.supports.all %}
        <tr>
            <td>{{ parent.name }}</td>
            <td>{{ parent.relate }}</td>
            <td>{{ parent.nationality }}</td>
            <td>{{ parent.date_of_birth|date:"Y-m-d" }}</td>
            <td>{{ parent.national_number }}</td>
            <td>{{ parent.notes }}</td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td colspan="6">لا يوجد</td>
    </tr>
{% endif %}
    </table>

    <table class="cc">
      <caption>
        <div class="title">
          بيانات عائلة الضابط:
        </div>
      </caption>
      <tr>
        <th>درجة القرابة</th>
        <th>الاسم</th>
        <th>الجنسيه</th>
        <th>المؤهل</th>
        <th>الوظيفه</th>
        <th>ضابط ق.م</th>
        <th>محل الاقامه</th>
      </tr>
      {% for parent in recruit.parents.all %}
      <tr>
          <td>{{ parent.relate }}</td>
          <td>{{ parent.name }}</td>
          <td>{{ parent.nationality }}</td>
          <td>{{ parent.qualification }}</td>
          <td>{{ parent.job }}</td>
          <td>
            <input type="checkbox" name="" id="" {% if parent.military_officer %}checked{% endif %}>
          </td>
          <td>{{ parent.residence }}</td>
      </tr>
      {% endfor %}
    </table>
    
    <table class="cc">
      <caption>
        <div class="title">
          بيانات اخوة / أخوات الضابط:
        </div>
      </caption>
      <tr>
        <th>الاسم</th>
        <th>القرابة</th>
        <th>المؤهل</th>
        <th>الوظيفة</th>
        <th>ضابط ق.م</th>
        <th>اسم الزوج او الزوجه</th>
        <th>المؤهل</th>
        <th>الوظيفه</th>
        <th>محل الاقامه</th>
      </tr>
      
      {% for brother in recruit.brothers.all %}
      <tr>
        <td>{{ brother.name }}</td>
        <td>{{ brother.relate }}</td>
        <td>{{ brother.qualification }}</td>
        <td>{{ brother.job }}</td>
        <td>
          <input type="checkbox" name="" id="" {% if brother.military_officer %}checked{% endif %}>
        </td>
        {% if borther.spouse_name %}
        <td>{{ brother.spouse_name }}</td>
        <td>{{ brother.spouse_qualification }}</td>
        <td>{{ brother.spouse_job }}</td>
        <td>{{ brother.residence }}</td>
        {% else %}
        <td colspan="3">اعزب</td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>

    <div>
      <span style="border-bottom: 1px solid black; font-size: 8px;">
        ادارة شئون ضباط القوات المسلحة 2021/10/121
      </span>
    </div>
  </div>
  <div class="page">
    <table class="cc">
      <caption>
        <div class="title">
          بيانات عائلة الزوجة الحالية:
        </div>
      </caption>
      <tr>
        <th>البيان</th>
        <th>الإسم</th>
        <th>الجنسية</th>
        <th>الديانة</th>
        <th>المؤهل</th>
        <th>الوظيفة</th>
        <th>محل الإقامة تفصيليا</th>
      </tr>
      {% if recruit.current_wife_data.all %}
    {% for obj in recruit.current_wife_data.all %}
        <tr>
            <td>{{ obj.statement }}</td>
            <td>{{ obj.name }}</td>
            <td>{{ obj.nationality }}</td>
            <td>{{ obj.religion }}</td>
            <td>{{ obj.qualification }}</td>
            <td>{{ obj.job }}</td>
            <td>{{ obj.residence }}</td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td colspan="7">لا يوجد</td>
    </tr>
{% endif %}

    </table>
    <table class="cc">
      <caption>
        <div class="title">
          أخوة / أخوات الزوجة الحالية:
        </div>
      </caption>
      <tr>
        <th>الإسم</th>
        <th>المؤهل</th>
        <th>الوظيفة</th>
        <th>إسم الزوج / الزوجة</th>
        <th>الوظيفة</th>
        <th>محل الإقامة</th>
      </tr>
      {% if recruit.wife_brother.all %}
    {% for obj in recruit.wife_brother.all %}
        <tr>
            <td>{{ obj.name }}</td>
            <td>{{ obj.qualification }}</td>
            <td>{{ obj.job }}</td>
            <td>{{ obj.spouse_name }}</td>
            <td>{{ obj.spouse_job }}</td>
            <td>{{ obj.residence }}</td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td colspan="6">لا يوجد</td>
    </tr>
{% endif %}

    </table>
    <table class="cc">
        <caption>
          <div class="title">
             الاعمام والعمات:
          </div>
        </caption>
        <tr>
            <th>الاسم</th>
            <th>المؤهل</th>
            <th>الوظيفه</th>
            <th>اسم الزوج او الزوجة </th>
            <th>الوظيفه</th>
            <th>محل الاقامه</th>
        </tr>
        {% for uncle in recruit.relatives.all.father_relates %}
        <tr>
            <td>{{ uncle.name }}</td>
            <td>{{ uncle.qualification }}</td>
            <td>{{ uncle.job }}</td>
            <td>{{ uncle.spouse_name }}</td>
            <td>{{ uncle.spouse_job }}</td>
            <td>{{ uncle.residence }}</td>
        </tr>
        {% endfor %}
    </table>

    <table class="cc"> 
      <caption>
        <div class="title">
         الاخوال والخالات:
        </div>
      </caption>
      <tr>
        <th>الاسم</th>
        <th>المؤهل</th>
        <th>الوظيفه</th>
        <th>اسم الزوج او الزوجة </th>
        <th>الوظيفه</th>
        <th>محل الاقامه</th>
    </tr>
  {% for uncle in recruit.relatives.all.mother_relates %}
  <tr>
    <td>{{ uncle.name }}</td>
    <td>{{ uncle.qualification }}</td>
    <td>{{ uncle.job }}</td>
    <td>{{ uncle.spouse_name }}</td>
    <td>{{ uncle.spouse_job }}</td>
    <td>{{ uncle.residence }}</td>
</tr>
{% endfor %}
  </table>
  <div style="padding: 5px;font-size: calc(var(--font-size) + 5px);">
    <div style="text-align: center; padding-bottom: 5px; font-weight: 800;">
      إقرار
    </div>
    اقر انا........................./................................................................بصحة المعلومات والبيانات السابقة وتحت مسئوليتي وأتعهد بتحرير نموذج جديد في حال تغيير اي بيان مما سبق خلال شهر من تاريخ التغيير.. 
    <div style="text-align: center;">
      وهذا إقرار مني بذلك...
    </div>
  </div>
  <div style="display: flex; justify-content: space-around;">
    <div style="border: 1px solid black; padding: 5px; font-size: calc(var(--font-size) + 3px); display: flex; flex-direction: column; justify-content: space-between;">
      <li>البريد الالكتروني غير مخصص لإرسال او أستقبال أي معلومات عسكرية تحمل درجة سرية</li>
      <li>في حالة تعدد الزوجات يتم تحرير نموذج 121 ش ض منفصل لكل زوجة علي حدة</li>
      <li>في حالة زيادة عدد الافراد عن عدد الخانات المحددة يتم تحرير نموذج 121 ش ض اضافي</li>
    </div>
    <div>
      <table style="border: 0px; font-size: (var(--font-size) + 3px); text-align: right;">
        <tr style="border: 0px;">
          <th style="border: 0px;">التوقيع:</th>
          <td style="border: 0px;">(...........................................)</td>
        </tr>
        <tr style="border: 0px;">
          <th style="border: 0px;">الرتبة:</th>
          <td style="border: 0px;"></td>
        </tr>
        <tr style="border: 0px;">
          <th style="border: 0px;">الاسم:</th>
          <td style="border: 0px;"></td>
        </tr>
        <tr style="border: 0px;">
          <th style="border: 0px;">التاريخ:</th>
          <td style="border: 0px;"></td>
        </tr>
      </table>
    </div>
  </div>
  </div>
</body>
</html>