@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

:root {
  --base-color: black;
  --font-size: 10px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family:'Rubik';
}

html {
  height: 100%;
  width: 100%;
}
body {
  direction: rtl;
  height: 100%;
  width: 100%;
}
body .page {
  page-break-after: always;
  width: calc(100% - 42px); 
  height: calc(100% - 42px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin: 0px;

}
body table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  margin-bottom: 0px;
  font-size: var(--font-size);

}
body table caption {
  margin-bottom: 7px;
  text-align: right;
}
.title {
  /*padding: 10px 15px;*/
  font-weight: 800;
  font-size: calc(var(--font-size) + 6px);
  /*background: var(--base-color);*/
  color:black;
  
  border-bottom: 2px solid black;
  display:inline;
}

body table tr {
}

body table th {
  font-size: calc(var(--font-size) + 2px);
  /*background: var(--base-color);*/
  color: black;
  width: fit-content;
  padding: 5px;
}

table, tr, td, th {
  border: 2px solid var(--base-color);
  margin: 5px;
}

body table td {
  width: fit-content; 
  padding: 1px;
}
.cc td {
  text-align: center;
}
